.form-control {
	border-radius: 0;
	margin-bottom: 30px;
}

label {
	font-weight: 200; // refer to PNG
}

.section-padding {
	padding-top: 60px;
	padding-bottom: 50px;
}

.section-heading {
	margin-bottom: 40px;
}